1/ApiClient.Models.DirectTrack/Schemas/creative.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.digitalriver.com/directtrack/api/creative/v1_0"
xmlns="http://www.digitalriver.com/directtrack/api/creative/v1_0"
elementFormDefault="qualified">

	<!-- start definition of simple elements -->
	<xs:simpleType name="booleanInt">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="resourceURI">
		<xs:restriction base="xs:anyURI">
		<xs:pattern value=".*/.*[^/]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="creativeType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="text"/>
				<xs:enumeration value="image"/>
				<xs:enumeration value="html"/>
				<xs:enumeration value="email"/>
				<xs:enumeration value="contextual"/>
				<xs:enumeration value="zip"/>
				<xs:enumeration value="coupon code"/>
				<xs:enumeration value="mobile opt-in"/>
				<xs:enumeration value="mobile number capture"/>
				<xs:enumeration value="search"/>
				<xs:enumeration value="custom landing"/>
				<xs:enumeration value="flash"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="linkingURL">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="255"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
	<xs:element name="directlink" >
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="directlinkCode" type="xs:string"/>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="active"/>
				<xs:enumeration value="inactive"/>
				<xs:enumeration value="deleted"/>
				<xs:enumeration value="pending"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	
	<xs:element name="textContents" type="xs:string"/>
	
	<xs:element name="anchorText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="expireDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{4}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="expireClicks" type="xs:unsignedInt"/>
	<xs:element name="expireImpressions" type="xs:unsignedInt"/>
	<xs:element name="adPoolOnly" type="booleanInt" />
	<xs:element name="hidden" type="booleanInt"/>
	<xs:element name="useCustomURL" type="booleanInt"/>

	<xs:element name="imageName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hostImage" type="booleanInt" />
	<xs:element name="fileLocation" type="xs:anyURI"/>
	<xs:element name="flashLocation" type="xs:anyURI"/>
	<xs:element name="fileMethod">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="http"/>
				<xs:enumeration value="ftp"/>
				<xs:enumeration value="globalftp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ftpServer">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
	<xs:element name="ftpUsername">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ftpPassword">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="imageURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element>

	<xs:element name="altTag">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="clickTag">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	

	<xs:element name="backgroundColor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
				<xs:pattern value="()|((#)?([0-9a-fA-F]{3})([0-9a-fA-F]{3})?)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	
	<xs:element name="bannerSize">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="([1-9][0-9]{1,4}x[1-9][0-9]{1,4})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="url" type="xs:string"/>
    <xs:element name="text" type="xs:string"/>
    <xs:element name="html" type="xs:string"/> 
	<xs:element name="trackImpressions" type="booleanInt" />
	
	<xs:element name="displayAsJS" type="booleanInt" />
	
	<xs:element name="fromAddress">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="subjectLines" type="xs:string"/>
    <xs:element name="merchantName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="couponText">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="couponDescription">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="keywords" type="xs:string"/>
	<xs:element name="smsCreativeName" type="xs:string"/>
   <xs:element name="startDate">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="(20[0-9]{2})-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="revolveExpirationDate">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="terms" type="xs:string"/>
    <xs:element name="category1" type="xs:string"/>
    <xs:element name="category2" type="xs:string"/>
    <xs:element name="category3" type="xs:string"/>
    <xs:element name="couponCode" type="xs:string"/>
    <xs:element name="estimatedValue" type="xs:double"/>
    <xs:element name="smsCreditType">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="onSubmit"/>
       <xs:enumeration value="onOptIn"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsKeyword">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsDoubleByteEncoding" type="booleanInt" />
    <xs:element name="smsOptInMessage">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="106"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsOptOutMessage">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="106"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsOptInPostMessage">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="106"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsOptOutPostMessage">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="106"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="smsMarketingMessage">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="106"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="header" type="xs:string"/>
    <xs:element name="desc1" type="xs:string"/>
    <xs:element name="desc2" type="xs:string"/>

	<xs:element name="displayURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element>
	<!-- end definition of simple elements -->

	<!-- start definition of attributes -->
	<!-- end definition of attributes -->
	
	<!-- start definition of complex elements -->
	<xs:element name="miscSearchCreative">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" minOccurs="0" maxOccurs="1" />
				<xs:element ref="desc1" minOccurs="0" maxOccurs="1" />
				<xs:element ref="desc2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="displayURL" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="campaignResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="customRedirectResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="customClickURL">
	  <xs:complexType>
	    <xs:sequence>
			<xs:element ref="customRedirectResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="url" minOccurs="0" maxOccurs="1"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="customImageURL">
	  <xs:complexType>
	    <xs:sequence>
			<xs:element ref="customRedirectResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="url" minOccurs="0" maxOccurs="1"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="smsContactListResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="smsOwnerResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" />
            <xs:attribute name="isAdmin" type="booleanInt" />
		</xs:complexType>
	</xs:element>
	<xs:element name="smsShortcodeResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="smsDeliveryCreativeResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="creative">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="creativeType" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="campaignResourceURL" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="linkingURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="directlink" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="directlinkCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="status" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="textContents" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="anchorText" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="displayAsJS" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="expireDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="expireClicks" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="expireImpressions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="adPoolOnly" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="hidden" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="useCustomURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="customClickURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="imageName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="hostImage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="fileLocation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ftpServer" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="fileMethod" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ftpUsername" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ftpPassword" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="imageURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="altTag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="bannerSize" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="customImageURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="html" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="trackImpressions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="fromAddress" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="subjectLines" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="merchantName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="couponText" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="couponDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="couponCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="estimatedValue" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="keywords" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="startDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="revolveExpirationDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="terms" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="category1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="category2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="category3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="miscSearchCreative" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsCreativeName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsContactListResourceURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsOwnerResourceURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsCreditType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsShortcodeResourceURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsKeyword" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsDoubleByteEncoding" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsOptInMessage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsOptOutMessage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsOptInPostMessage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsOptOutPostMessage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsMarketingMessage" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="smsDeliveryCreativeResourceURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clickTag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="backgroundColor" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="flashLocation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="location" type="resourceURI"/>
		</xs:complexType>
	</xs:element>
	<!-- end definition of complex elements -->

</xs:schema>
