1/QuickBooksService/__archive/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Currencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyFiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompanyFile" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DirectAgentsDatabases">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="DirectAgentsDatabase">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PeriodName" type="xs:string" />
                    <xs:element name="DatabaseName" type="xs:string" />
                    <xs:element name="ConStr" type="xs:string" />
                    <xs:element name="FromDate" type="xs:date" />
                    <xs:element name="ToDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecordSourceTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="RecordSourceType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>