1/ApiClient/Schemas/Cake/DailySummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://cakemarketing.com/api/1/"
  xmlns="http://cakemarketing.com/api/1/"
>
  <xs:element name="DailySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="date" type="xs:dateTime" />
        <xs:element name="views" type="xs:int" />
        <xs:element name="clicks" type="xs:int" />
        <xs:element name="click_thru" type="xs:decimal" />
        <xs:element name="conversions" type="xs:int" />
        <xs:element name="paid" type="xs:int" />
        <xs:element name="sellable" type="xs:int" />
        <xs:element name="conversion_rate" type="xs:decimal" />
        <xs:element name="cpl" type="xs:decimal" />
        <xs:element name="cost" type="xs:decimal" />
        <xs:element name="rpt" type="xs:decimal" />
        <xs:element name="revenue" type="xs:decimal" />
        <xs:element name="margin" type="xs:decimal" />
        <xs:element name="profit" type="xs:decimal" />
        <xs:element name="epc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrayOfDailySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DailySummary">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>