1/AccountingBackupWeb.Models/DirectTrack/Rest/Schemas/DetailedSales/saleDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.digitalriver.com/directtrack/api/saleDetail/v1_0"
xmlns="http://www.digitalriver.com/directtrack/api/saleDetail/v1_0"
elementFormDefault="qualified">

<!-- simple elements -->
	<xs:simpleType name="booleanInt">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="saleType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="category"/>
				<xs:enumeration value="product"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:simpleType name="resourceURI">
		<xs:restriction base="xs:anyURI">
		<xs:pattern value=".*/.*[^/]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="transactionID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="cookieID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="affiliateResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="campaignResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="subIDResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="creativeResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="creativeDeploymentResourceURL">
		<xs:complexType>
			<xs:attribute name="location" type="resourceURI" use="required"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(20[0-9]{2})-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))( (([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])(:([0-5]?[0-9]))?)?"/>
				<xs:maxLength value="19"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:simpleType name="emptyString">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="priceValue">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value='10'/>
			<xs:fractionDigits value='2'/>
			<xs:maxInclusive value='99999999.99'/>
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="lineItemType">
		<xs:union memberTypes="priceValue emptyString" />
	</xs:simpleType>


	<xs:element name="lineItem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="lineItemType">
					<xs:attribute name="quantity" type="xs:unsignedInt" use="required"/>
					<xs:attribute name="productID" type="xs:string"/>
					<xs:attribute name="owned" type="booleanInt"/>
					<xs:attribute name="productName" type="xs:string"/>
					<xs:attribute name="productCampaignResourceURL" type="resourceURI"/>
					<xs:attribute name="lineItemStatus" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="lineItems">
	  <xs:complexType>
	    <xs:sequence>
			<xs:element ref="lineItem" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>

	<xs:element name="saleStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="saleInfo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="saleRep">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="42"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="statusDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(20[0-9]{2})-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))( (([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])(:([0-5]?[0-9]))?)?"/>
				<xs:maxLength value="19"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="ipAddress">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:pattern value="(\d{1,3}\.\d{1,3}\.\d{1,3}.\d{1,3})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="advOptInfo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="landingPageID" type="xs:unsignedInt"/>


	<xs:element name="poolID" type="xs:unsignedInt"/>

	<xs:element name="isSubSale" type="booleanInt" />

	<xs:element name="currency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="platform">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="siteID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="locale">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="clickDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(20[0-9]{2})-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))( (([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])(:([0-5]?[0-9]))?)?"/>
				<xs:maxLength value="19"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="recordLead" type="booleanInt" />

	<xs:element name="deleteSale" type="booleanInt" />

	<xs:element name="deleteReason">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="deleteDetails">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="subID1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="subID2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="subID3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="subID4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="subID5">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 

	<xs:element name="subIDs">
	  <xs:complexType>
	    <xs:sequence>
			<xs:element ref="subID1" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="subID2" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="subID3" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="subID4" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="subID5" minOccurs="1" maxOccurs="1"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	
	<xs:element name="refererURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
    </xs:element> 
<!-- END simple elements -->

<!-- complex elements -->
	
<!-- END complex elements -->

<!-- PRIMARY ELEMENT -->
	<xs:element name="saleDetail">
	  <xs:complexType>
	    <xs:sequence>
			<xs:element ref="transactionID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="cookieID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="affiliateResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="campaignResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="lineItems" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="creativeResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="creativeDeploymentResourceURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="date" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="subIDs" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="saleStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="saleInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="saleRep" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="statusDate" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ipAddress" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="advOptInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="landingPageID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="poolID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="isSubSale" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="currency" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="platform" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="siteID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="locale" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="clickDate" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="recordLead" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="deleteSale" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="deleteReason" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="deleteDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="saleType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="refererURL" minOccurs="0" maxOccurs="1"/>
	    </xs:sequence>
	    <xs:attribute name="location" type="resourceURI"/>
	  </xs:complexType>
	</xs:element>
<!-- END PRIMARY ELEMENT -->

</xs:schema>